body{
    width: 99%;
    height: 99%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8CA336;
    animation-name: hatterszin;
    animation-duration: 3s;
    overflow: none;
}

#title-holder {
    z-index: 1;
    position: absolute;
    width: 20%;
    height: 10%;
    padding-top: 8px;
    margin: 0;
    text-align: center;
    top:0;
    transform: translateY(0%);
    left:0;
    transform: translateX(0%);

    animation-name: middle;
    animation-duration: 3s;

}
h2{
    display: inline-block;
    text-align: center;
    color: #E3F4A3;
    font-size: 2vw;
    margin: 0;
    
    animation-name: focim;
    animation-duration: 3s;
}
h3{
    color: #ADC964;
    font-size: 1vw;
    animation-name: alcim;
    animation-duration: 3.5s;
    margin: 0;
    padding-left:10%;
}
#loader {
    height: 0%;
    width: 90%;
    margin: 0;
    border: 3px solid white;
    opacity: 0;
    animation-name: loader;
    animation-duration: 1.5s;
}
#loader div {
    background-color: white;
    border: none;
    height: 100%;
    border-radius: 0;

    animation-name: load-line;
    animation-duration: 1.5s;
}
#contents {
    position: absolute;
    width: 95%;
    height: 88vh;
    margin: 0;
    bottom: 2%;
    left:2.5%;
    opacity: 1;
    border: 2px solid red;
    animation-name: cont-in;
    animation-duration: 3.5s;
}
#navhely {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 8.5vh;
    background-color: #5D7814;
    margin: 0;

    animation-name: navhely-be;
    animation-duration: 3s;
}
nav {
    position: absolute;
    right: 10%;
    width: 45%;
    height: 5vh;
}
nav ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: #E3F4A3;
    font-weight: bolder;
    font-size: 3vh;
    list-style: none;
    text-decoration: none;
    float: left;
    margin-right: 20%;
}

#lista_Big33{
    background-color: red;
}
#lista_ICU{
    background-color: green;
}
#lista_Nameless{
    background-color: yellow;
}
#lista_LoremIpsum{
    background-color: blue;
}
#lista_AlreadyTaken{
    background-color: orange;
}
#lista_Ossznep{
    background-color: brown;
}
#lista_Text{
    background-color: pink;
}
#lista_Angela{
    background-color: purple;
}

/* ANIMACIOK */

@keyframes hatterszin {
    0% {background-color: black;}
    30% {background-color: black;}
    100% {background-color: #8CA336;}
}
@keyframes middle {
    0% {top:50%;
        transform: translateY(-50%);
        left:50%;
        transform: translateX(-50%);}
    70% {top:50%;
        transform: translateY(-50%);
        left:50%;
        transform: translateX(-50%);}
    100% {top:0%;
        transform: translateY(0%);
        left:0%;
        transform: translateX(0%);}
}
@keyframes focim {
    0% {color: white;}
    30% {color: white;}
    100% {color: #E3F4A3;}
}

@keyframes alcim {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes loader {
    0% {height: 15px;opacity: 0;}
    5% {opacity: 1;}
    95% {height: 15px;opacity: 1;}
    100% {height: 0; opacity: 0;}
}
@keyframes load-line {
    0% {width: 0%;}
    60% {width: 60%;}
    100% {width: 100%;}
}
@keyframes cont-in {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes navhely-be {
    0% {top: -20%; }
    60% {top: -20%;}
    100% {top: 0;}
}