body{
    width: 99%;
    height: 99%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8CA336;
    animation-name: hatterszin;
    animation-duration: 3s;
    overflow: none;
}

#title-holder {
    z-index: 1;
    position: absolute;
    width: 20%;
    height: 10%;
    padding-top: 8px;
    margin: 0;
    text-align: center;
    top:0;
    transform: translateY(0%);
    left:0;
    transform: translateX(0%);

    animation-name: middle;
    animation-duration: 3s;

}
h2{
    display: inline-block;
    text-align: center;
    color: #E3F4A3;
    font-size: 2vw;
    margin: 0;
    
    animation-name: focim;
    animation-duration: 3s;
    
    cursor: default;
}
h3{
    color: #ADC964;
    font-size: 1vw;
    animation-name: alcim;
    animation-duration: 3.5s;
    margin: 0;
    padding-left:10%;
    cursor: default;
}
#loader {
    height: 0%;
    width: 90%;
    margin: 0 auto;
    border: 3px solid white;
    opacity: 0;
    animation-name: loader;
    animation-duration: 1.5s;
}
#loader div {
    background-color: white;
    border: none;
    height: 100%;
    border-radius: 0;

    animation-name: load-line;
    animation-duration: 1.5s;
}
#contents {
    position: absolute;
    width: 95%;
    height: 88vh;
    margin: 0;
    bottom: 2%;
    left:2.5%;
    opacity: 1;
    animation-name: cont-in;
    animation-duration: 3.5s;
}
#navhely {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 8.5vh;
    background-color: #5D7814;
    margin: 0;

    animation-name: navhely-be;
    animation-duration: 3s;
}
nav {
    position: absolute;
    right: 0;
    width: 50%;
    height: 5vh;
}
nav ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: #E3F4A3;
    font-weight: bolder;
    font-size: 3vh;
    list-style: none;
    text-decoration: none;
    float: left;
    margin-right: 20%;
    margin-top: 1%;
    transition: 0.5s;
    
    cursor: pointer;
}
nav ul li:hover {
    opacity: 60%;
}
table {
    table-layout: fixed;
    width: 100%;
}
#terkep {
    width: 100%;
    height: 88vh;
}
rect {
    border: 0;
    fill: #505e1f;
}
g {
    border: 0;
    fill: #505e1f;
}
#fout {
    
    fill: #505e1f;
    filter: brightness(1.4);
}
.zebra {
    fill: #91a954;
}
.flag {
    fill: #91a954;
}
#elolista {
    width: 0%;
    height: 88vh;
}
#elolista_cont {
    display:none;
}
#ranglista {
    width: 0%;
    height: 88vh;
}
#ranglista_cont {
    display:none;    
}
h1 {
    cursor: default;
}

/* ANIMACIOK */

@keyframes hatterszin {
    0% {background-color: black;}
    30% {background-color: black;}
    100% {background-color: #8CA336;}
}
@keyframes middle {
    0% {top:50%;
        transform: translateY(-50%);
        left:50%;
        transform: translateX(-50%);}
    70% {top:50%;
        transform: translateY(-50%);
        left:50%;
        transform: translateX(-50%);}
    100% {top:0%;
        transform: translateY(0%);
        left:0%;
        transform: translateX(0%);}
}
@keyframes focim {
    0% {color: white;font-size: 3vw;}
    70% {color: white;font-size: 3vw;}
    100% {color: #E3F4A3;font-size: 2vw;}
}

@keyframes alcim {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes loader {
    0% {height: 15px;opacity: 0;}
    5% {opacity: 1;}
    95% {height: 15px;opacity: 1;}
    100% {height: 0; opacity: 0;}
}
@keyframes load-line {
    0% {width: 0%;}
    60% {width: 60%;}
    100% {width: 100%;}
}
@keyframes cont-in {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes navhely-be {
    0% {top: -20%; }
    60% {top: -20%;}
    100% {top: 0;}
}

.forma {
    r: 2;
    animation-name: mozgas;
    animation-duration: 4s;
    transition-duration: 2s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    stroke-width: 0px;
    stroke-opacity: 0;
    z-index: 1;
}
.forma:hover {
    stroke-width: 10px;
    stroke-opacity: 1;
    z-index: 100;
    paint-order:markers;
}
@keyframes mozgas {
    0% {r: 2;filter:saturate(100%);}
    30% {r: 2.1; filter:saturate(120%);}
    40% {r: 2;filter:saturate(100%);}
    60% {r: 2; filter:saturate(100%);}
    75% {r: 2.3; filter:saturate(180%);}
    85% {r: 2;filter:saturate(100%);}
    100% { r: 2;filter:saturate(100%);}
}
